.body{
    margin:0;

}
.fwh-slide {
    height: 100vh;
    background: wheat;
    box-sizing: border-box;
    margin: 0;
}
.fwh-slide--bg-white {
    background-color: white;
    margin: 0%;
}

.frontHeading {
    font-size: 20vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
}
.ul {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}